// Colors
$light-grey:#dddddd;
$purple:#5b4681;
$very-light-grey:#f9f9f9;
// Sizes
$site-max-width:50rem;
// Font Sizes
$base-font-size:1.4rem;
$large-font-size:1.8rem;
// Spacing
$space: 1.4rem;
$padding-med:1rem;
// Button
$button-purple:$purple;
// Item
$item-border:darken($very-light-grey, 15%);
$item-bg:$very-light-grey;
$item-text-color:#777777;
